
@media (min-width:700px){
  .container{
    position: relative;
    max-width: 30%;
    max-height: 30%;
    margin-top: 40px;
    margin-left: 80px;
  }
    .root {
      min-width: auto;
      min-height: auto;
      max-height: fit-content;
      max-width: fit-content;
      margin-left: 15%;
      display:flex;
    }
    .root1{
     max-width: 20vw;
    }
    .rootc{
      min-width: 40vw;
      min-height: auto;
      max-height: fit-content;
      max-width: 40vw;
    }
    .element{
      padding-left: 10px;
      padding-Left: 10px;
      padding-Right:10px;
    }
    .subelement{
      color: #3c7a67;
      float: right;

    }
    .notification{
      border-radius: 25px;
      margin-bottom: 15px;
      font-size: 28px;
      float: left;
      min-width:60vw;
    }
  }
  @media (max-width:700px){
    .container{
      position: relative;
      max-width: 95%;
      margin-left: 10px;
    }
    .root {
      display:flex;
      min-width: 90vw;
      min-height: auto;
      max-height: 85vh;
      max-width: 90vw;
    }
    .root1{
      max-width: 80vw;
    }
    .rootc{
      min-width: 93vw ;
      min-height: auto ;
      max-height: fit-content;
      max-width: 93vw;
    }
    .element{
      padding-left: 10px;
      padding-Left: 10px;
      padding-Right:10px;
    }
    .subelement{
      font-size: 20px;
      float:right;
      margin-top: 10px;
      color: #3c7a67;
    }
    .notification{
      border-radius: 25px;
      margin-bottom: 20px;
      font-size: 28px;
      float: left;
      min-width:90vw;
      max-width:90vw;
    }
  }
