
@media (min-width:700px){
    .root {
      min-width: auto;
      min-height: auto;
      max-height: fit-content;
      max-width: fit-content;
      margin-left: 15%;
      display:flex;
    }
    .root1{
     max-width: 40vw;
    }
    .rootc{
      min-width: 40vw;
      min-height: auto;
      max-height: fit-content;
      max-width: 40vw;
    }
  }
  @media (max-width:700px){
    .root {
      display:flex;
    }
    .root1{
      max-width: 90vw;
    }
    .rootc{
      min-width: 95vw;
      min-height: auto;
      max-height: fit-content;
      max-width: 95vw;
    }
  }

