.posts{
  border-radius: 25px;
  margin: 15px;
  font-size: 28px;
  float: left;
  min-Height:50px;
  min-width:100%;

}

.element{
  padding-left: 10px;
  float: left;
  padding-Left: 10px;
  padding-Right:10px;
  margin-Right:50px
}

.App {
  text-align: center;
}