

  @media (min-width:700px){
    .Post {
      border-radius: 3px;
      border: 1px solid #e6e6e6;
      background-color: #fff;
      margin-left : 20%;
      margin-right: 20%;
      margin-bottom: 20px;
  
    }
    .Postcomment{
      border-radius: 3px;
      border: 1px solid #e6e6e6;
      background-color: #fff;
      margin-left : 40%;
      margin-right: 40%;
      margin-bottom: 20px;
    }
  }
  @media (max-width:700px){
    .Post {
      border-radius: 3px;
      background-color: #f0f0f0;
      margin-bottom: 20px;
    }
  }


  .Post-user {

    display: flex;

    padding: 16px;

    align-items: center;

  }

  .Post-user-profilepicture {

    width: 30px;

    height: 30px;

  }

  .Post-user-profilepicture img {

    width: 100%;

    height: 100%;

    border-radius: 50%;

  }

  .Post-user-nickname {

    margin-left: 12px;

    font-family: 'PT Sans', sans-serif;

    font-weight: bold;

  }

  .Post-image-bg {

    background-color: #efefef;
    

  }

  .Post-image img {

    display: block;

    width: 100%;

  }

  .Post-caption {

    padding: 5px 5px;

  }

  .Post-caption strong {

    font-family: 'PT Sans', sans-serif;

    font-weight: bold;

  }

  .vjs-fade-out {

    display: none;

    visibility: hidden;

    opacity: 0;

  }