@media (min-width:700px){
.todo {
  text-align:center;
  font-family: 'Roboto', sans-serif;
  max-width: 70vw;
  background-color: white;
  margin-left: 1%;

}
}

@media (max-width:700px){
.todo {
  text-align:center;
  font-family:  'Roboto', sans-serif;
  max-width: 95vw;
  background-color: white;

}
}